*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 /*Colors*/
  
  --color-bg:  #FFF3B0;;

  --pink:#F48FB1;
  --blue: #90CAF9;
  --mint: #80CBC4;
  --peach: #FFB074;
  --lavender: #B39DDB;
  --color-white: #FFFFFF;


 /*Typogrphy*/

 --font-title:"Barrio", system-ui ;
 --font-text:"Short Stack", cursive;


}

